<div class="content">
  <div class="form-container">
    <form (ngSubmit)="createTask()">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input 
          type="text" 
          id="title" 
          class="form-control" 
          placeholder="Enter task title"
          [(ngModel)]="task.title"
          name="title" />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" 
          class="form-control" 
          placeholder="Enter task description"
          [(ngModel)]="task.description"
          name="description"></textarea>
      </div>
      <div class="mb-3">
        <label for="dueDate" class="form-label">Due Date</label>
        <input 
          type="date" 
          id="dueDate" 
          class="form-control"
          [(ngModel)]="task.dueDate"
          name="dueDate" />
      </div>
      <button type="submit" class="btn btn-primary">Create Task</button>
    </form>
  </div>
</div>