footer {
    background-color: #f8f9fa;
    border-top: 1px solid #e5e5e5;
    padding: 10px 20px;
    margin: 0;
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .social-links {
    display: flex;
    align-items: center;
  }
  
  .btn {
    margin: 0 0.5rem;
  
    &:last-child {
      margin-right: 0;
    }
  
    &.btn-linkedin {
      background-color: #0082ca;
      color: #fff;
    }
  
    &.btn-github {
      background-color: #333333;
      color: #fff;
    }
  }