.navbar {
  font-family: 'Arial', sans-serif;
  padding: 10px 20px;

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #A100FF;
    display: flex;
    align-items: center;
  }

  .ml-2 {
    margin-left: 4px;
  }

  .btn {
   transition: background-color 0.3s ease;
   color:#A100FF;
   &:hover {
      background-color: #A100FF;
      color: #fff;
      }
  }
  .homeButton, .listButton {
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.homeButton:hover, .listButton:hover {
    transform: scale(1.1);
}
}
